/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');
@import url('https://use.fontawesome.com/74b492a4aa.js');

body {
	background: darken($paleyellow, 30);
	color: rgba;$darkblue: 80;
}
.top {
   	 background: rgba(0,0,0,.8);
   	 position: fixed;
   	 width: 100%;
   	 margin-top: auto;
   	 margin-bottom: auto;
}

// .box {

// }

.container{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

header {
	float: left;
	width: 345px;
}

header h1{
	color:white;
	font-size: 3em;
}
nav {
  float: right;
  width: 386px;
  margin-top: auto;
  margin-bottom: auto;
}
nav ul li {
  display: inline-block;
  padding-right: 20px;
}
nav ul li a {
  text-decoration: none;
}
//   padding: 8px;
//   transition: all 250ms cubic-bezier(0.17, 0.67, 0, 0);
// }
nav ul li a:link,
nav ul li a:visited {
  color: rgba(255, 255, 255, 0.8);
}
nav ul li a:hover,
nav ul li a:active {
  color: rgba(255, 255, 255, 0.9);
  background: #ff8562;
  // border-radius: 15px;
}

// #{headings()} {
// 	font-family: $font-secondary;
// 	font-weight: normal;
// 	color: $darkgray;
// 	@include text-shadow($payleryellow 1px 1px);
// }

// h1 {
// 	font-size: 2.2rem;
// 	color: lighten($darkblue, 25);
// 	margin-bottom: .4rem;
// 	border-bottom: 1px solid $lightgray;
// }